#profile-photo {
  opacity: 0.7;
  height: 100px;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  #profile-photo {
    height: 125px;
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  #profile-photo {
    height: 150px;
    width: 100%;
  }
}

@media only screen and (min-width: 1300px) {
  #profile-photo {
    height: 175px;
    width: 100%;
  }
}

#profile-photo:hover {
  opacity: 1.0;
}

#photo-dialog {
  margin: 0px;
}

#user-uploads {
  justify-content: space-between;
  padding-top: 20px;
}

/* body {
    background-color: #1A2027;
    color: #1A2027;
} */

.chat-list{
  float:left;
}

.chat{
  float:right;
}

.social-media {
  justify-content: center;
}

.commentTime {
  float:left;
}

.editDelete {
  float:right;
}

.edit {
  margin: 0px 5px 0px 0px
}

.edit:hover {
  font-weight: 900;
}

.delete {
  margin: 0px 0px 0px 5px;
}
.delete:hover {
  font-weight: 900;
}

.comments {
  margin: 0px 0px 10px
}

#comments-container {
  margin: auto;
}

#google-button {
  display: flex;
  justify-content: center;
}

#event-name-accordian {
  justify-content: flex-start;
}