/* #profile-photo {
  opacity: 0.5;
}

#profile-photo:hover {
  opacity: 1.0;
} */

#photo-dialog {
  margin: 0px;
}

/* body {
    background-color: #1A2027;
    color: #1A2027;
} */

.chat-list{
  float:left;
}

.chat{
  float:right;
}

.commentTime {
  float:left;
}

.editDelete {
  float:right;
}

.edit {
  margin: 0px 5px 0px 0px
}

.edit:hover {
  font-weight: 900;
}


.delete {
  margin: 0px 0px 0px 5px;
}
.delete:hover {
  font-weight: 900;
}

.comments {
  margin: 0px 0px 10px
}

#comments-container {
  margin: auto;
}

.commentsPaper {
  word-break: break-all;
}
